<!-- Stuff -->
<h2 class="inline">Chapters</h2>
<% if @story.chapters.empty? %>
  <h3 class="centered">You don't have any content yet!</h3>
  <%= form_tag story_chapters_path(@story), :method => :post, :class => "centered" do %>
    <button type="submit" class="btn btn-square">
      <span class="mega-icon mega-icon-add"></span>
      <h5>Create new chapter</h5>
    </button>
  <% end %>
<% else %>
  <div>
    <%= form_tag story_chapters_path(@story), :method => :post, :class => "centered", :remote => true do %>
      <%= hidden_field_tag "chapter[parent]", @story.chapters.last.id %>
      <button type="submit" class="btn">
        <span class="mega-icon mega-icon-add"></span>
        <h5>Create new chapter</h5>
      </button>
    <% end %>
  </div>
  <ul class="chaptericontabs">
    <% @story.chapters.reverse.each do |chapter| %>
      <li class="chaptericontabs" style="margin-left : 2em;">
        <ul class="chapterinternals">
          <li class="chapterinternals">
            <%= form_tag story_chapters_path(@story), :method => :post, :style => "width : 10em;", :remote => true do %>
              <%= hidden_field_tag "chapter[parent]", chapter.id %>
              <button type="submit" class="btn">
                <span class="mega-icon mega-icon-branch-create"></span>
                <h5>Spawn new branch</h5>
              </button>
            <% end %>
          </li>
          <li class="chapterinternals">
            <div class="chaptericon box-form">
              <%= form_for [@story, chapter], :method => :put, :class => "box-form", :remote => true, :html => {:multipart => true} do |f| %>
                <div class="icontabs-title" style="margin-left : -0.7em;">
                  <a href="<%= story_chapter_path(@story, chapter)%>">
                    <span class="mini-icon mini-icon-create"></span>
                  </a>
                  <%= f.text_field :title, :placeholder => "Title" %>
                  <h6>
                    Cover logo (png, gif only)
                    <%= image_tag chapter.cover.url(:small) %>
                  </h6>
                  <%= f.file_field :cover, :accept => "image/gif,image/png" %>
                </div>
                <p class="timestatus">Last update: <%= chapter.updated_at.to_date.readable_inspect %></p>
                <%= f.submit :value => "Update", :class => "btn" %>                      
                <a href="<%= edit_story_chapter_path(@story, chapter) + "?cmd=jsedit" %>" class="btn" style="float : right; margin-right : 1em;">
                  <span class="mini-icon mini-icon-edit"></span>
                  Edit chapter
                </a>             
              <% end %>
            </div>
          </li>
          <li class="chapterinternals">
            <a href="#" class="btn" style="width : 5em; margin-bottom : 5em;">
              <span class="mega-icon mega-icon-fork"></span>
              <h5>Forks</h5>
            </a>
          </li>
        </ul>
      </li>
    <% end %>
  </ul>
<% end %>
