<!-- new user form -->
<div class="container">
  <div class="row">
    <div class="pushedown" style="margin-top : 5em;"></div>
  </div>
  <div class="row">
    <div class="span9">
      <h1>Sign up for FFOpenVN</h1>
    </div>
    <div class="span3">
      <%= link_to "Log in to an existing account", new_user_session_path, :class => "btn" %>
    </div>
    <div class="h-divider"></div>
    <div class="span5 box">
      <%= devise_error_messages! %>
      <%= render "users/partials/signup", :user => @user %>
    </div>
    <div class="span6">
      <div class="box">
        <ul class="h-list">
          <% [2,3,4,6,8,8].each do |k| %>
            <li class=<%= "icon#{k}" %>></li>
          <% end %>
        </ul>
        <h3 class="centered">You're entering the gateway to the fantasy world.</h3>
      </div>
      <h3>&raquo; Publish to any platform</h3>
      <h3>&raquo; Create from anywhere</h3>
      <h3>&raquo; Receive instant feedback</h3>
    </div>
  </div>
</div>
<%= debug(flash) if Rails.env.development? %>

