<div class="container">
  <div class="row">
    <div class="pushedown" style="margin-top : 3.5em;"></div>
  </div>
  <div class="row">
    <div class="span8">
      <h1>
        <%= image_tag "/images/upa.png", :alt => "#{@user.name}'s avatar", :class => "avatar" %>
        <%= @user.name %>
      </h1>
    </div>
    <div class="span4 rightify">
      <% if @user.id == current_user.id %>
        <h4 class="inline" style="font-size : 1em;">
          This is you!
          <%= link_to "Edit your profile", edit_user_path(@user), :class => "btn" %>
        </h4>
      <% end %>
    </div>
  </div>
  <div class="span12 h-divider" style="margin-top : 1em; margin-left : -0.25em;"></div>
  <div class="row">
    <div class="span2">
      <ul class="signup">
        <% ["URL", "Group", "Location", "Member Since"].each do |k| %>
          <li style="font-size : 1em; margin-bottom : 0.25em"><%= k %></li>
        <% end %>
      </ul>
    </div>
    <div class="span3">
      <ul class="signup">
        <% [ link_to( "#", "#"), "#", "#", @user.created_at.to_date.readable_inspect ].each do |k| %>
          <li style="font-size : 1em; margin-bottom : 0.25em"><%= k %></li>
        <% end %>
      </ul>
    </div>
    <div class="span6">
      <ul class="h-list">
        <% { :readers => "#", :stories => @user.stories.count, :reading => "#" }.each do |key, val| %>
          <li class="centered" style="margin-left : 3em;">
            <h1 style="font-size : 3em;"><%= val %></h1>
            <p style="font-size : 1.25em;"><%= key %></p>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
  <div class="span12 h-divider" style="margin-top : 1em; margin-left : -0.25em; margin-bottom : 1em;"></div>
  <div class="row">
    <div class="span6">
      <h3 class="inline">Stories</h3>
      <h6 class="inline" style="float : right; margin-top : 0.25em;">
        <%= link_to "New Story", new_story_path, :class => "btn btn-secondary" %>
      </h6>
      <!-- rendering stories tabs here -->
      <ul class="signup">
        <% @user.stories.each do |story| %>
          <li class="storyicontabs">
            <div class="icontabs-title">&raquo; <%= story.title %></div>
            <p><%= story.summary %></p>
            Last update: <%= story.updated_at.to_date_readable_inspect %>
            <div class="icontabs-infographic">Stuff goes here</div>
          </li>
        <% end %>
      </ul>
    </div>
    <div class="span6">
      <h3>
        Public Activity
        <%= link_to "RSS", "#" %>
      </h3>
      <!-- Feed generation section -->
      <h1>Not Implemented Yet!</h1>
    </div>
  </div>
</div>
