<!-- Story show page -->
<div class="container">
  <div class="row">
    <div class="pushedown" style="margin-top : 3.5em;"></div>
  </div>
  <div class="row">
    <div class="span8">
      <%= render "stories/partials/titlebar" %>
    </div>
    <div class="span4 rightify">
      <%= link_to "Edit", edit_story_path(@story), :class => "btn btn-standard" %>
      <%= link_to "Read", "#", :class => "btn btn-standard" %>
      <%= link_to "#", "#", :class => "social-count js-count-social" %>
    </div>
  </div>
  <div class="row">
    <div class="span12" id="menubar">
      <%= render "stories/partials/menubar" %>
    </div>
  </div>
  <div class="row" id="usertab">
    <% case @usertab %>
      <% when "reviews" %>
        <%= render "stories/partials/show/reviews" %>
      <% when "artwork" %>
        <%= render "stories/partials/show/artwork" %>
      <% when "issues" %>
        <%= render "stories/partials/show/issues" %>
      <% when "forks" %>
        <%= render "stories/partials/show/forks" %>
      <% when "credits" %>
        <%= render "stories/partials/show/credits" %>
      <% else %>
        <%= render "stories/partials/show/splash" %>
    <% end %>
  </div>
</div>
