<!-- Story show page -->
<div class="container">
  <div class="row">
    <div class="pushedown" style="margin-top : 3.5em;"></div>
  </div>
  <div class="row">
    <div class="span8">
      <h2>
        <span class="mega-icon mega-icon-public-repo"></span>
        <%= link_to @user.name, user_path(@user) %> &raquo; <%= link_to @story.title, story_path(@story) %>
      </h2>
    </div>
    <div class="span4">
      <%= link_to "Manage", "#", :class => "btn btn-standard" %>
      <%= link_to "Read", "#", :class => "btn btn-standard" %>
      <%= link_to "#", "#", :class => "social-count js-count-social" %>
    </div>
  </div>
  <div class="row">
    <div class="span12" id="menubar">
      <%= render "stories/partials/menubar" %>
    </div>
  </div>
  <div class="row" id="usertab">
    <% case @usertab %>
      <% when "reviews" %>
        <%= render "stories/partials/reviews" %>
      <% when "artwork" %>
        <%= render "stories/partials/artwork" %>
      <% when "issues" %>
        <%= render "stories/partials/issues" %>
      <% when "forks" %>
        <%= render "stories/partials/forks" %>
      <% when "credits" %>
        <%= render "stories/partials/credits" %>
      <% else %>
        <%= render "stories/partials/splash" %>
    <% end %>
  </div>
</div>
