<!-- Header style -->
<style type="text/css">
	.floatbox { 
		position : absolute;
		top : 15%;
		left : 35%;
		right : 35%;
		width : auto;
		border : 2px solid black;
		background-color : rgb(245, 245, 235);
		z-index : 998;
		padding: 1em;
	}
</style>
<!-- Header javascript -->
<% unless user_signed_in? %>
  <!-- standard header -->
	<div class="navbar">
		<div class="navbar-fixed-top">
			<div class="navbar-inner">
				<div class="container">
					<a class="brand" href="/">
						<img class="logo" src="/images/logo.png" alt="ffopenvn logo" />
						<%= @title %>
					</a>
					<ul class="nav">
						<li>
							<%= link_to "Login", new_user_session_path %>
						</li>
						<li>
							<%= link_to "Signup", new_users_path %>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
<% else %>
	<!-- Personalized header -->
	<div class="navbar">
		<div class="navbar-fixed-top">
			<div class="navbar-inner">
				<div class="container">
					<a class="brand" href="/">
						<img class="logo" src="/images/logo.png" alt="ffopenvn logo" />
						<%= @title %>
					</a>
					<ul class="nav">
						<li>
							<%= link_to escape_javascript(current_user.name), user_path(current_user) %>
						</li>
						<li>
							<%= link_to "Sign out", destroy_user_session_path, :method => :delete %>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
<% end %>


